<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto&display=swap" rel="stylesheet">
    <title>Web HTML</title>
</head>
<body>
    <article class="contenedor01">
        <h2>titlulo 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, sunt voluptas corrupti numquam ea dolor corporis pariatur iusto,</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias dolores animi, esse neque, obcaecati nemo veritatis eos suscipit eligendi sit quibusdam doloremque placeat. Quam debitis iure velit, nisi voluptatibus exercitationem!</p>
    </article>
    <article class="contenedor02">
        <h2>titlulo 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, sunt voluptas corrupti numquam ea dolor corporis pariatur iusto,</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias dolores animi, esse neque, obcaecati nemo veritatis eos suscipit eligendi sit quibusdam doloremque placeat. Quam debitis iure velit, nisi voluptatibus exercitationem!</p>
    </article>
</body>
</html>
        