<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto&display=swap" rel="stylesheet">
    <title>Web HTML</title>
</head>
<body>
    <h1>Titulo Principal</h1>
    <p class="hola">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In dicta laboriosam recusandae voluptatibus maiores ratione mollitia pariatur saepe ullam, unde facilis exercitationem tenetur beatae magnam quidem natus, iure quos atque.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam voluptas esse eaque mollitia cum nobis. Corporis nostrum itaque a repellat, iste repudiandae modi tenetur eos laboriosam ipsum est assumenda repellendus?
    </p>
    <img src="./img/img-cafetera-moulinex.jpg" alt="cafetera">
    <ul>
        <li>uno</li>
            <ol>
                <li>sub uno</li>
                <li>sub dos</li>
            </ol>
        <li>dos</li>
        <li>tres</li>
    </ul>
</body>
</html>